.icons{
    position: relative;
    left: 29%;
    top: 10px;
}


.image11:hover{
opacity: 0.1;
cursor: pointer;
}






.images1{
    position: relative;
    left: 22%;
    top: 35px
}




.navbar{
    display: flex;
    width: 100%;
}

.navbar .a1{
position: absolute;
left: 73%;
top: 14px
}

.navbar ul{
 position: relative;
 left: 230px;
 top: -40px;
 border: solid #e7e7e7 1px;
 padding: 15px;
 width: 50%;
 background-color: rgb(247, 250, 244)
}

.navbar ul a{
    text-decoration: none;
    color: rgb(105, 80, 80);
    margin: 10px;
   
    font-size: 19PX;
    padding-left: 8px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s

}




.navbar ul a:hover{
  color: white;
  background-color: rgb(105, 80, 80);
  padding: 10px;
  cursor: pointer
}


















.contain2{
    position: relative;
    top: -130px;
    background-color: rgb(239, 240, 234);
    width: 1120px;
    height: 130px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.contain2 .p2{
    position: relative;
    left: 86%;
    top: 20%
}

.contain2 .h2{
    position: relative;
    left: 79%;
    top: 16%;
    letter-spacing: 1px;;
    font-size: 28px;
    color: rgb(240, 82, 25)
   
}


.contain2 .h7{
    position: relative;
    left: 84%;
    top: 16%;
    letter-spacing: 1px;;
    font-size: 28px;
    color: rgb(240, 82, 25)
   
}






.contain3{
    position: relative;
    top: -135px;
    text-align: right;
    padding-right: 220px;
    margin-top: 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.contain3 .hh{
    position: relative;
    top: 8px;
    left: -16px;
    font-size: 20px;
    color: rgb(255, 116, 65);
    
}


.contain3 .hhh{
    position: relative;
    top: -6px;
    left: -15px;;
    font-size: 15px;  
    color: rgb(175, 167, 167);
}



.contain3 .p3{
    position: relative;
    left: 140px;
    width: 90%
}




.aaa{
    position: relative;
    top: -140px;
    margin-top: 5%;
    background-image:  linear-gradient(to bottom,#FB8148,#cc6600);
    width: 76.8%;
    text-align: center;
    padding: 10PX;
 margin: auto;
 position: relative;
 left: -2.5%;
 border-radius: 5px;
 cursor: pointer;
}
 
.aaa:hover{
    background-image:  linear-gradient(to bottom,rgb(231, 128, 80),#c2b4a6);
}

.aaa:hover .aa{
    background-color: aliceblue;
    color: #FB8148;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 560px;
    padding-right: 560px;
    border-radius: 5px;
 font-weight: 700
 
}

.aa{
    text-decoration: none;
    color: white;
    font-weight: 900;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    transition: 0.5s
}





.icons2{
    position: relative;
    left: 81.6%;
    top: -70px
}


.dd{
    position: relative;
    left: 10%;
    top: -110px
}


.dd .p4{
    position: relative;
    left: 0.8%;
    top: -40px;
    color: white;
    font-size: 14px;
   
}


 .footer{
    width: 12%
}


.p5{
    position: relative;
    top: -42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px
}



.p7{
    position: relative;
    top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px
}

.footer2{
    position: relative;
    left: 52.5%;
    top: -180px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.footer3{
    position: relative;
    left: 52.5%;
    top: -130px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.footer3 ul a{
    color:  rgb(105, 80, 80);
    text-decoration: none;
    margin: 5px;
    transition: 0.5s
}



.footer2 ul a{
  color:  rgb(105, 80, 80);
    text-decoration: none;
    margin: 5px;
    transition: 0.5s
}



.footer2 ul a:hover{
color: #FB8148;
border-top: 0px;
border-right: 0px;
border-left: 0px;
border-bottom: 1px solid black
  }
  
  
  












.input{
    text-align: right;
    padding-right: 230px;
    margin-bottom: 20px;
    position: relative;
    top: -140px
}

input{
    width: 90%;
    text-align: right;
    padding: 6px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




select{
    width: 91.3%;
    text-align: right;
    padding: 6px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between
}






.p6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 12px
}








.aaa2{
    position: relative;
    top: -140px;
    margin-top: 5%;
    background-image:  linear-gradient(to bottom,#FB8148,#cc6600);
    width: 76.8%;
    text-align: center;
    padding: 10PX;
 margin: auto;
 position: relative;
 left: -3.5%;
 border-radius: 5px;
 cursor: pointer;
}






.aaa2:hover{
    background-image:  linear-gradient(to bottom,rgb(231, 128, 80),#c2b4a6);
}

.aaa2:hover .aa2{
    background-color: aliceblue;
    color: #FB8148;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 560px;
    padding-right: 560px;
    border-radius: 5px;
 font-weight: 700
 
}

.aa2{
    text-decoration: none;
    color: white;
    font-weight: 900;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    transition: 0.5s
}















.images10{
    display: inline-block;
    margin-bottom: 140px;
    padding-left: 50pxذ
   
   
}



.img1{
   border: 2px blue solid;
   transform: scale(1,1)
}





























section{
position: relative;
top: -160px;
left: -100px;
}


.movies-row{
    padding:1px;
    display: flex;
 
}


.movie-box{
    height: 250px;
    width: 160px;
    margin-left: 5px;
    border: 2px solid black;
    position: relative;
    left: 20%;
    border-radius: 50%;
    margin: 160px
    
}

.movie-img{
    height: 80%;
    
}

.movie-img #w{
    height: 90%;
    width: 90%;
    position: relative;
    top: 20px;
    left: 12px;
    border-radius: 50%;
    box-shadow: 0 0 15px 15px black
}

.movie-img #w:hover{
    transform: scale(1.1)
}




















































